.home{
   background-color: black;
    color: white;
}
.nav_logo{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 37px;
    margin: 10px 30px 0px 30px;
}

.nav_bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px 0px 100px;
}

.nav_type {
    display: flex;
    
}
.nav_type li{
    display: flex;
   padding-left: 80px;
}

.types{
    color: white;
    text-decoration: none;
    font-weight: 200;
font-size: 21.8203px;
transition: 100ms;
}
.active{
    font-size: 30px;
    font-weight: 500;
    color: #16b04c;
    text-shadow: none;
}
.nav_home{
    color: white;
    text-decoration: none;
    font-weight: 400;
font-size: 40.9056px;
}
.home_logo{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
}
.profile_page{
 display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    gap: 8px;
}

.profile_page img{
    width: 50px;
    border-radius: 50%;
}

@media only screen and (min-width:600px){
    .profile_page:hover{
        color: rgb(201, 201, 201);
    }
    .nav_type li:hover{
        text-shadow: 0 0 10px white,0 0 20px white,
        0 0 40px white,0 0 80px white,0 0 120px white;
    }
    
}

@media only screen and (max-width:600px) {
    
.nav_logo{
    margin: 25px 10px 0px 10px;
}
.nav_type li{
    padding-left: 0px;
}
.nav_bar{
    gap: 90px;
    margin: 40px 10px 30px 10px;
}
.nav_logo{
    font-size: 26px;
}
.nav_logo img{
    width: 40px;
}
.nav_home{
    font-size: 25px;
}
.types{
    font-size: 18px;
}
}